.container2 {
    background-color: #202C45;
}

.rounded-circle {
    width : 150px;
    height: 150px;
}

.container-infor {
    margin-top     : 1%;
    display        : flex;
    justify-content: start;


    .container-left {
        width: 50%;

        h6 {
            font-family  : 'Montserrat';
            font-weight  : 500;
            padding      : 0;
            text-align   : start;
            white-space  : nowrap;
            overflow     : hidden;
            text-overflow: ellipsis;
        }

        .left-left {
            width          : 100%;
            display        : flex;
            justify-content: start;
            padding-top    : 0.5%;

            h6 {
                padding-left: 2%;

            }
        }
    }

    .container-right {
        width: 50%;

        h6 {
            font-family : 'Montserrat';
            font-weight : 500;
            padding     : 0;
            padding-left: 10%;
            text-align  : start;

        }

        .right-right {
            width          : 100%;
            display        : flex;
            justify-content: start;
            padding-top    : 0.5%;

            h6 {
                padding-left : 2%;
                padding-left : 10%;
                white-space  : nowrap;
                overflow     : hidden;
                text-overflow: ellipsis;
            }
        }
    }
}