.main2 {
    font-family: 'Montserrat';
}

.file {
    padding: 0.2rem !important;
}

.invalid-feedback {
    // display   : block !important;
    text-align: start !important;
}

.note {
    margin-top   : 2rem;
    text-align   : start;
    font-family  : 'Montserrat';
    font-size    : 15px;
    font-weight  : 600;
    margin-bottom: 0;
}