.css-13xfq8m-MuiTabPanel-root {
    padding: 0 !important;
}

.card4 {
    text-align: start;

    .card-header {
        margin-top : 10px;
        font-family: 'Montserrat';
        font-size  : 15px;
        font-weight: 600;
        color      : rgb(89, 89, 89);
    }
}