.mantine-yzu17x {
    tr {
        td {
            text-align: left;
        }
    }
}

.dd {
    background-color: var(--light) !important;
}

.dd:hover {
    background-color: rgb(198, 222, 249) !important;
}