.navbar{
    font-family: 'Montserrat';
    font-size: 14px;
    padding: 0;
}
.navbar-brand{
    padding: 0;
    img{
        padding-left: 30px ;
        height: 70px;
    }
}
.nav-item1 {
    padding-left: 30px;
}
.nav-item2{
    padding-left: 10px;
}
li.nav-item {
    span{
        
        color: black;
    }
}

    