.container-login-big {

    // background-color: aquamarine;

    .container-tb-login {
        display              : flex;
        justify-content      : start;
        // margin-top        : 1.5%;
        // padding-bottom    : 3%;
        // height            : 50px;
        // border-bottom  : solid 1px #202C45;
        background-color     : #D9D9D9;

        // h5 {
        //     margin-top   : 5px;
        //     font-size    : 22px;
        //     margin-left  : 0.7%;
        //     font-family  : 'Montserrat';
        //     font-weight  : 600;
        //     border-bottom: solid 3px #202C45;
        //     height       : 35px;
        // }
    }

    .container-login {
        margin-top         : 2%;
        display            : flex;
        justify-content    : center;
        margin-bottom      : 2%;
        // background-color: antiquewhite;


        .login {
            // có right login
            // width                 : 70%;
            // background-color: tomato;


            //không right login
            // cái này là phải chỉnh width linh động tròn style.css trong phần respond @media 1200, 991.98
            // width                 : 40%;
            display               : flex;
            justify-content       : start;
            // border-left        : solid 6px #202C45;
            // border-bottom      : solid 6px #202C45;

            .login-left {
                display                  : flex;
                justify-content          : center;
                // có right
                // width              : 50%;
                // border-left           : solid 6px #202C45;
                // border-bottom         : solid 6px #202C45;
                // không right
                width                    : 100%;
                border                   : solid 6px #202C45;

                // background-color: coral;

                form {
                    width: 100%;

                    .formsh {
                        margin-top: 6%;
                    }

                    .btn {
                        margin-top      : 1%;
                        background-color: #202C45;
                        color           : white;
                        border          : 0;
                        width           : 30%;
                        margin-bottom   : 10%;
                        padding         : 10px 0 10px 0;
                        white-space     : nowrap;
                        overflow        : hidden;
                        text-overflow   : ellipsis;

                    }

                }

                label {
                    // margin-top    : 2%;
                    // width         : 70%;
                    // margin-left   : 7%;
                    // margin-bottom : 0%;
                    text-align       : start;
                    font-family      : 'Montserrat';
                    font-weight      : 200;
                    // font-size     : 17px;
                    // color         : #202C45;
                    // padding-bottom: 0px;
                    // white-space   : nowrap;
                    // overflow      : hidden;
                    // text-overflow : ellipsis;
                }

                input {
                    background-color   : #EFEDED;
                    // width           : 65%;
                    // margin-left     : 16%;
                }

                .pass-mk {
                    width      : 65%;
                    margin-left: -4%;
                    margin-top : 0%;
                    text-align : end;
                    font-family: 'Montserrat';
                    font-weight: 200;

                    white-space  : nowrap;
                    overflow     : hidden;
                    text-overflow: ellipsis;
                }

            }

            .login-right {

                width: 50%;

                border-bottom: solid 6px #202C45;

                .right {
                    height          : 100%;
                    background-color: #202C45;
                    display         : flex;
                    justify-content : center;

                    h3 {
                        font-family: 'Montserrat';
                        font-weight: 600;
                        color      : white;
                        margin-top : 28%;
                    }
                }
            }
        }


    }


}